:root {
    --card-width: 500px;
    --card-height: 439px;
}

html, body{
    perspective: 1200px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#song{
    display: none;
}

#clicker{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}

.card-beginning{
    position: fixed;
    transform-style: preserve-3d;
    height: var(--card-height);
    left: calc(50% - (var(--card-width) * .5));
    margin-top: calc((100vh - var(--card-height)) / 2);
    transform: translateY(-1000px); /* translated from original position */
}

.card{
    transition: transform ease-out 5s; /* transitions back to original position*/
}

[id^="pg"]{
    position: absolute;
    width: var(--card-width);
    height: 100%;
    transform-origin: left center;
    transition: transform 1.75s ease-in-out;
    /* background-color: white; */
    /* background-image: url("media/texture.jpg"); */
    background-size: var(--card-width);
    border: none;
}

[id^="pg"] img{
    height: 100%;
    width: 100%;
}

#card-content{
    position: inherit;
    width: 100%;
    left: 0;
    top: 30%;
    text-align: center;

}

.card:hover{
    transform: translateX(calc(var(--card-width) * .5));
    transition: transform 1.5s ease-in-out;
}

.card{
    transform: translateX(-calc(var(--card-width) * .5));
    transition: transform 1.5s ease-in-out;
}

.card:hover #pg-1 {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.card:hover #pg-2 {
    transform: rotateY(-179.9deg) translateX(-1px);
}

.flip-content{
    transform: scaleX(-1);
}